alembic==1.18.4
black==26.3.1
blinker==1.9.0
click==8.3.2
colorama==0.4.6
coverage==7.13.5
dnspython==2.8.0
email-validator==2.3.0
filelock==3.28.0
flake8==7.3.0
Flask==3.1.3
Flask-DebugToolbar==0.16.0
Flask-Login==0.6.3
Flask-Mail==0.10.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
fsspec==2026.3.0
greenlet==3.4.0
idna==3.11
iniconfig==2.3.0
isort==8.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
librt==0.9.0
Mako==1.3.11
MarkupSafe==3.0.3
mccabe==0.7.0
mpmath==1.3.0
mypy==1.20.1
mypy_extensions==1.1.0
networkx==3.6.1
numpy==2.4.4
opencv-python==4.13.0.92
packaging==26.0
pathspec==1.0.4
pillow==12.2.0
platformdirs==4.9.6
pluggy==1.6.0
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.20.0
pytest==9.0.3
pytest-cov==7.1.0
python-dotenv==1.2.2
pytokens==0.4.1
SQLAlchemy==2.0.49
sympy==1.14.0
torch==2.11.0
torchaudio==2.11.0
torchvision==0.26.0
typing_extensions==4.15.0
Werkzeug==3.1.8
WTForms==3.2.1
